{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Movie Description</title>
{% endblock meta %}

{% block content %}
    <div class="description">
    </div>
    <div class="container">
    <div class="row">
        <div class="col-md-auto">
        <img src="{{response.Poster}}" alt="poster" width="200" height="300">
        </div>
        <div class="col">
        <h1 style="color: white;"><b>{{response.Title}}</b></h1>
        <h3 style="color: white;"><b>{{response.Released}}, {{response.Director}}</b></h3>
        <h4 style="color: white;"><b>{{response.Language}}, {{response.Country}}</b></h4>
        <h5 style="color: white;">{{response.Plot}}</h5>
        <h5 style="color: white;"><b>Genre:</b> {{response.Genre}}</h5>
        <p></p>
        <a style="color: white;"><b>Ratings:</b><br></a>
        {% for i in response.Ratings %}
          <a style="color: white;">{{i.Source}}: {{i.Value}}<br></a>
        {% endfor %}
        <p></p>
        <p style="color: white;"><b>Writers:</b> {{response.Writer}}</p>
        <p style="color: white;"><b>Actors:</b> {{response.Actors}}</p>
        <p style="color: white;"><b>Production:</b> {{response.Production}}</p>
        <p style="color: white;"><b>Box Office:</b> {{response.BoxOffice}}</p>
        <a href="{% url 'main:home' %}" class="btn" style="background-color:#630000; color: white"><b>Back</b></a>
        </div>
    </div>
    </div>
<script type="text/javascript">

</script>
{% endblock content %}
