{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Movie List</title>
{% endblock meta %}

{% block content %}
  <input id="keyword" class="form-control" placeholder="Search Movie Title">
  <div class="body">
  <div class="movie_card" id="bright">
    <div class="info_section">
      <div class="movie_header">
        <img class="locandina" src="{{response.Poster}}"/>
        <h1>{{response.Title}}</h1>
        <h4>{{response.Released}}, {{response.Director}}</h4>
        <span class="minutes">{{response.Runtime}}</span>
        <p class="type">{{response.Genre}}</p>
      </div>
      <div class="movie_desc">
        <p class="text">{{response.Plot}}</p>
        <a href="{% url 'main:desc' %}" class="btn" style="background-color:#630000; color: white"><b>See Detail</b></a>
      </div>
            
      <div class="movie_social" style="padding-top: 10px">
        <ul>
        <li id="love"><a href="{% url 'main:Like' %}" style="color:white;"><i onclick="likes()" class="icon-heart-empty"></i></a></li>
        <li id="book"><a href="{% url 'main:Book' %}" style="color:white;"><i onclick="books()" class="icon-bookmark-empty"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="blur_back bright_back"></div>
  </div>
  </div>

<script type="text/javascript">

    
    $("#keyword").keyup(function(){
        var inp = $("#keyword").val();
        $.ajax({
            url: '/data/'+'?q='+inp,
            success:function(data) {
                var array_items = data;
                var love = $("#love i").attr("class");
                var book = $("#book i").attr("class");
                $(".body").empty();
                if (array_items=="Not Found") {
                  $(".body").append("<img src=\"{% static 'img/not-found.png' %}\" alt=\"My image\" class=\"center\">");
                }
                else {
                  $(".body").append("<div class=\"movie_card\" id=\"bright\">" +
                                          "<div class=\"info_section\">" +
                                          "<div class=\"movie_header\">" +
                                            "<img class=\"locandina\" src=\"{{response.Poster}}\">" +
                                            "<h1>{{response.Title}}</h1>" +
                                            "<h4>{{response.Released}}, {{response.Director}}</h4>" +
                                            "<span class=\"minutes\">{{response.Runtime}}</span>" +
                                            "<p class=\"type\">{{response.Genre}}</p>" +
                                          "</div>" +
                                          "<div class=\"movie_desc\">" +
                                            "<p class=\"text\">{{response.Plot}}</p>" +
                                            "<a href=\"{% url 'main:desc' %}\" class=\"btn\" style=\"background-color:#630000; color: white\"><b>See Detail</b></a>" +
                                          "</div>" +
                                          "<div class=\"movie_social\" style=\"padding-top: 10px\">" +
                                            "<ul>" +
                                              "<li id=\"love\"><a href=\"{% url 'main:Like' %}\" style=\"color:white;\"><i onclick=\"likes()\" class=\""+love+"\"></i></a></li>" +
                                              "<li id=\"book\"><a href=\"{% url 'main:Book' %}\" style=\"color:white;\"><i onclick=\"books()\" class=\""+book+"\"></i></a></li>" +
                                            "</ul>" +
                                          "</div>" +
                                        "</div>" +
                                        "<div class=\"blur_back bright_back\"></div>");
                }
            }
        });
    });

    function likes() {
      $("#love i").toggleClass("icon-heart-empty icon-heart");
    }  

    function books() {
      $("#book i").toggleClass("icon-bookmark-empty icon-bookmark");
    }  

    function getCookie(cname) {
      var name = cname + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }
      
</script>
{% endblock content %}
