{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Movie List</title>
{% endblock meta %}

{% block content %}
  <div class="body">
  {% if response != "No Like Yet" %}
    <div class="movie_card" id="bright">
        <div class="info_section">
        <div class="movie_header">
            <img class="locandina" src="{{response.Poster}}"/>
            <h1>{{response.Title}}</h1>
            <h4>{{response.Released}}, {{response.Director}}</h4>
            <span class="minutes">{{response.Runtime}}</span>
            <p class="type">{{response.Genre}}</p>
        </div>
        <div class="movie_desc">
            <p class="text">{{response.Plot}}</p>
            <a href="{% url 'main:desc' %}" class="btn" style="background-color:#630000; color: white"><b>See Detail</b></a>
        </div>
        </div>
        <div class="blur_back bright_back"></div>
    </div>
  {% else %}
    <h1>No Like Yet</h1>
  {% endif %}
  </div>
{% endblock content %}